@import '../base.block/theme.scss';

.advantages {
    margin-top: 100px;
}

.advantages__title--l,
.advantages__text--l {
    text-align: center;
}

.advantages__text--l {
    margin-top: 18px;
    padding: 10px;
}

.advantages__item {
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 42px;
    padding-bottom: 4px;
}

.advantages__title--m {
    position: relative;
    padding: 10px;
    padding-left: 80px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 28px 0 0 28px;
    margin-right: -24px;
}

.advantages__text--m {
    margin-top: 10px;
}

.advantages__number {
    @include theme;
    @include theme_color_accent;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 26px;
    border-radius: 28px;
    height: 100%;
    color: white;
}

@media (min-width: $desktop) {
    .advantages {
        display: flex;
        margin-top: 104px;
    }

    .advantages__different {
        width: 50%;
    }

    .advantages__list {
        margin: 0;
        width: 50%;
    }

    .advantages__item {
        padding: 0;
        margin-left: 18px;
        margin-top: 36px;
    }

    .advantages__item:first-child {
        margin-top: 0;
    }

    .advantages__title--l,
    .advantages__text--l {
        text-align: left;
        line-height: unset;
        letter-spacing: unset;
    }

    .advantages__title--l {
        line-height: 1.2em;
        letter-spacing: -.04em;
    }

    .advantages__text--l {
        line-height: 1.5em;
        letter-spacing: -.01em;
        padding-left: 1px;
        padding-right: 220px;
        font-size: 16px;
    }

    .advantages__title--m {
        background-color: transparent;
        padding-left: 90px;
    }

    .advantages__text--m {
        padding-left: 90px;
        padding-right: 12px;
        letter-spacing: -0.0015em;
        line-height: 1.6em;
        font-size: 16px;
    }
}