@import '../base.block/theme.scss';

.advantages__title--l, .advantages__text--l {
    text-align: center;
}

.advantages__title--m {
    position: relative;
    padding: 8px;
    padding-left: 64px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 12px 0 0 12px;
}

.advantages__number {
    @include theme;
    @include theme_color_accent;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 20px;
    border-radius: 16px;
    height: 100%;
}

@media (min-width: $desktop) {
    .advantages {
        display: flex;
    }

    .advantages__different {
        width: 50%;
    }

    .advantages__list {
        width: 50%;
    }
    
    .advantages__title--l, .advantages__text--l {
        text-align: left;
    }
    
}