@import '../base.block/theme.scss';

.advantages {
    margin-top: 100px;
}

.advantages__title--l, .advantages__text--l {
    text-align: center;
}

.advantages__text--l {
    margin-top: 18px;
    padding: 10px;
}

.advantages__item {
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 42px;
    padding-bottom: 4px;
}

.advantages__title--m {
    position: relative;
    padding: 10px;
    padding-left: 80px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 28px 0 0 28px;
}

.advantages__text--m {
    margin-top: 10px;
}

.advantages__number {
    @include theme;
    @include theme_color_accent;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 26px;
    border-radius: 28px;
    height: 100%;
    color: white;
}

@media (min-width: $desktop) {
    .advantages {
        display: flex;
    }

    .advantages__different {
        width: 50%;
    }

    .advantages__list {
        width: 50%;
    }
    
    .advantages__title--l, .advantages__text--l {
        text-align: left;
    }
    
}