@import '../base.block/theme.scss';
@import '../base.block/button.scss';
@import '../base.block/input.scss';

.footer {
    @include theme;
    @include theme_color_dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
}

.footer>* {
    margin-left: 8px;
    margin-right: 8px;
}

.footer__socials {
    display: flex;
    justify-content: space-around;
    order: -1;
    margin-top: 24px;
    width: 100%;
}

.footer__item {
    width: 24px;
    height: 24px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: -2;
    padding-top: 48px;
    height: 200px;
}

.footer__link {
    @include theme_font_s;
    padding: 4px 72px 4px 32px;
}

.footer__form {
    display: flex;
    gap: 10px;
    order: -3;
}

.footer__input {
    @include input;
}

.footer__button {
    @include button;
    @include button_color_accent;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}

.footer__logo {
    width: 150px;
    margin-top: 48px;
}

.footer__text--s {
    color: hsl(227, 12%, 61%);
    margin-top: 24px;
}

@media (min-width: $desktop) {
    .footer {
        @include theme;
        @include theme_color_dark;
        display: flex;
        justify-content: space-between;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer__input {
        @include input;
    }

    .footer__button {
        @include button;
        @include button_color_accent;
    }
}