@import '../base.block/button.scss';

.hero {
    margin-top: 20px;
}

.hero__title, .hero__text {
    text-align: center;
}

.hero__text {
    line-height: 1.7em;
    margin-top: 10px;
}

.hero__button {
    @include button;
    @include button_color_accent;
    @include button--shadow;
    width: fit-content;
    margin: 0 auto;
    margin-top: 28px;
}

.hero__image {
    width: 100%;
}

@media (min-width: $desktop) {
    .hero {
        display: flex;
        gap: 100px;
        margin-top: 45px;
    }

    .hero__title, .hero__text {
        text-align: left;
    }

    .hero__title {
        margin-top: 65px;
    }

    .hero__text {
        margin-top: 30px;
        padding-right: 100px;
        letter-spacing: -0.0015em;
        line-height: 1.6em;
        font-size: 16px;
    }

    .hero__image {
        width: 55%;
        order: 1;
        margin-right: -20px;
    }

    .hero__content {
        width: 50%;
    }

    .hero__button {
        margin: 0;
        margin-top: 34px;
    }
}