@import '../base.block/button.scss';

.testimonials {
    margin-top: 58px;
    position: relative;
    padding-bottom: 32px !important;
}

.testimonials__title {
    text-align: center;
}

.testimonials__list {
    margin-top: 72px;
}

.testimonials__item {
    padding: 24px;
    background-color: hsl(0, 0%, 98%);
}

.testimonials__avatar {
    display: block;
    border-radius: 50%;
    width: 75px;
    margin: 0 auto;
    margin-top: -58px;
}

.testimonials__title--m {
    margin-top: 32px;
}

.testimonials__text {
    margin-top: 24px;
    text-align: center;
}

.testimonials__button {
    @include button;
    @include button_color_accent;
    @include button--shadow;
    width: fit-content;
    margin: 0 auto;
    margin-top: 72px;
}

@media (min-width: $desktop) {
    .testimonials {
        margin-top: 150px;
        margin-left: -165px !important;
        margin-right: -165px !important;
    }

    .testimonials__list {
        margin-top: 100px;
        margin-left: -150px
    }

    .testimonials__item {
        width: 38% !important;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 36px;
    }

    .testimonials__title--m {
        margin-top: 26px;
    }

    .testimonials__text {
        font-size: 16px;
        line-height: 1.7em;
        margin-top: 16px;
    }

    .testimonials__button {
        margin-top: 50px;
    }
}